<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic 90s Website</title>

    <link rel="stylesheet" href="/styles/styles.css">



</head>
<body>
    <%- include("header.ejs") %>
    <main>

        <section id="articlepage">
            <% if(locals.title && locals.content){ %> 
            <h2> <%= locals.title %></h2>
            <p> <%= locals.content %></p>
         <%}  %>
        </section>

    </main>
    <%- include("footer.ejs") %>
</body>
</html>
